%form
  %input#geocomplete{placeholder: "Type an address and hit enter", type: "text"}/
  .map_canvas

= simple_form_for [:moderators, @account], url: moderators_accounts_path do |f|
  = f.input :name
  = f.input :city, as: :string, input_html: { data: { geo: 'locality' } }
  = f.input :full_address, as: :string, input_html: { data: { geo: 'formatted_address' } }
  = f.input :lat, as: :hidden, input_html: { data: { geo: 'lat' } }
  = f.input :lon, as: :hidden, input_html: { data: { geo: 'lng' } }
  = f.submit
