= simple_form_for [@account, @observation] do |f|
  %fieldset 
    = f.input(:site_name, collection: @site_names)
    = f.input :wind_speed, placeholder: 'Approximate...'
    = f.input :humidity
    = f.input :sky_conditions
  %fieldset 
    %h3 Recent Weather Conditions
    = f.simple_fields_for :recent_weather do |recent_weather|
      %h5 One day ago
      = recent_weather.input :one_day_ago_general, label: 'General', placeholder: 'E.g Mixed clouds, breezy, warm'
      = recent_weather.input :one_day_ago_temperature, label: 'Temperature', placeholder: 'e.g. 75'
      = recent_weather.input :one_day_ago_rainfall, label: 'Rainfall', placeholder: 'e.g. 3'

      %h5 Two days ago
      = recent_weather.input :two_day_ago_general, label: 'General'
      = recent_weather.input :two_day_ago_temperature, label: 'Temperature'
      = recent_weather.input :two_day_ago_rainfall, label: 'Rainfall'

      %h5 Three days ago
      = recent_weather.input :three_day_ago_general, label: 'General'
      = recent_weather.input :three_day_ago_temperature, label: 'Temperature'
      = recent_weather.input :three_day_ago_rainfall, label: 'Rainfall'
  %fieldset
    %h3 Time of Monitor
    = f.input :recorded_at_date, as: :string, input_html: { class: 'datepicker' }, placeholder: 'e.g. 10/24/2014'
    = f.input :recorded_at_time, input_html: { class: 'timepicker' }
  %fieldset
    %h3 Water Conditions
    = f.input :high_tide_level, placeholder: 'e.g. 5.75'
    = f.input :approx_tide_level, label: 'Approximate tide', placeholder: 'e.g. dead low, low, mid, etc.'

    = f.simple_fields_for :water_conditions do |water_conditions|
      = water_conditions.input :surface_conditions, collection: Observation::WATER_CONDITIONS, as: :check_boxes
      = water_conditions.input :visibility, label: 'Visibility (in feet)'
      = water_conditions.input :water_color
      = water_conditions.input :water_pollution, label: 'Oil sheen, marine debris, other pollution', as: :text, input_html: { rows: 3 }
      = water_conditions.input :other_observations, as: :text, input_html: { rows: 3 }

    = f.simple_fields_for :oyster_cage_conditions do |oyster_cage_conditions|
      = oyster_cage_conditions.input :depth_of_cage, label: 'Submerged depth of cage', input_html: { data: { 'tooltip' => ''}, class: 'has-tip', title: 'length of fouled line from water surface down to cage' }
      = oyster_cage_conditions.input :cage_fouling, collection: Observation::CAGE_CONDITIONS, as: :radio_buttons
      = oyster_cage_conditions.input :cage_damage, label: 'Damage to cage?(please specify)', as: :text, input_html: { rows: 5 }