%form
  %input#geocomplete{placeholder: "Type an address and hit enter", type: "text"}/
  .map_canvas

= simple_form_for @user do |f|
  = f.input :first_name
  = f.input :last_name
  = f.input :email
  - if @user.avatar.present?
    = cl_image_tag(@user.avatar.path, width: 80, height: 100)
  = f.input :avatar, as: :attachinary
  = f.input :city, as: :string, input_html: { data: { geo: 'locality' } }
  = f.input :lat, as: :hidden, input_html: { data: { geo: 'lat' } }
  = f.input :lon, as: :hidden, input_html: { data: { geo: 'lng' } }
  = f.submit

