!!! 5
%html{ :lang => "en"}
  %head
    %meta{ :charset => "utf-8" }
    
    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0" }

    %title= content_for?(:title) ? yield(:title) : "BOP - Admin"

    %script{src: "//maps.google.com/maps/api/js?v=3.13&sensor=false&libraries=geometry", type: "text/javascript"}
    %script{src: "//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js", type: "text/javascript"}

    // requirement for jquery geocomplete
    %script{src: "http://maps.googleapis.com/maps/api/js?sensor=false&libraries=places"}
    
    = stylesheet_link_tag "application"
    = javascript_include_tag "custom.modernizr"
    = csrf_meta_tag

  %body
    = render 'layouts/header'
    = toastr_flash

    .row
      // sidebar
      .large-3.columns
        .panel
          %a{href: "#"}
            %img{src: "http://placehold.it/300x240&text=[img]"}/
          %h5
            %a{href: "#"} Joe User
          .section-container.vertical-nav{"data-options" => "deep_linking: false; one_up: true", "data-section" => ""}
            %section.section
              %h5.title
                %a{href: "#"} Recent Activity
            %section.section
              %h5.title
                %a{href: "#"} Manage Users
            %section.section
              %h5.title
                = link_to 'Manage Accounts', admin_accounts_path
            %section.section
              %h5.title
                %a{href: "#"} Run reports
            %section.section
              %h5.title
                %a{href: "#"} Chat


      = yield

    = render 'layouts/footer'

    = javascript_include_tag "application"

