!!! 5
%html{ :lang => "en"}
  %head
    %meta{ :charset => "utf-8" }
    
    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0" }

    %title= content_for?(:title) ? yield(:title) : "Billion Oyster Project Student Portal"

    = stylesheet_link_tag "application"
    = javascript_include_tag "custom.modernizr"
    = javascript_include_tag "application"
    = cloudinary_js_config
    %script{src: "http://maps.googleapis.com/maps/api/js?sensor=false&libraries=places"}
    %script{src: "//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js", type: "text/javascript"}

    = csrf_meta_tag

  %body
    = render 'layouts/header'
    = toastr_flash

    .row
      .medium-3.columns.show-for-medium-up
        %nav.panel#navigation
          = show_avatar_for(current_user)
          %h5
            %a{href: "#"} Joe User
          .section-container.vertical-nav{"data-options" => "deep_linking: false; one_up: true", "data-section" => ""}
            %section.section
              %h5.title
                %a{href: "#"} Dashboard
            %section.section
              %h5.title
              = link_to 'My Observations', user_observations_path(current_user)
            %section.section
              %h5.title
                = link_to 'My Posts', posts_path
            %section.section
              %h5.title
                = link_to 'My Profile', user_path(current_user) 
            %section.section
              %h5.title
                %a{href: "#"} Following
            %section.section
              %h5.title
                = link_to 'Chat', chat_path, data: { :'no-turbolink' => '' }

      .small-3.columns.left-off-canvas-menu.show-for-small-only
        .off-canvas-wrap{"data-offcanvas" => ""}
          .inner-wrap 
            %a.left-off-canvas-toggle{href: "#"} Menu
            / Off Canvas Menu
            %aside.left-off-canvas-menu
              / whatever you want goes here
              %ul
                %li
                  %a{href: "#"} Item 1
                \...
            / main content goes here
            %p Set in the year 0 F.E. ("Foundation Era"), The Psychohistorians opens on Trantor, the capital of the 12,000-year-old Galactic Empire. Though the empire appears stable and powerful, it is slowly decaying in ways that parallel the decline of the Western Roman Empire. Hari Seldon, a mathematician and psychologist, has developed psychohistory, a new field of science and psychology that equates all possibilities in large societies to mathematics, allowing for the prediction of future events.
            / close the off-canvas menu
            %a.exit-off-canvas

      .medium-9.columns
        = yield

    = render 'layouts/footer'

