!!! 5
%html{ :lang => "en"}
  %head
    %meta{ :charset => "utf-8" }
    
    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0" }

    %title= content_for?(:title) ? yield(:title) : "Untitled"

    = stylesheet_link_tag "application"
    = javascript_include_tag "custom.modernizr"
    = javascript_include_tag "application"
    = cloudinary_js_config
    %script{src: "http://maps.googleapis.com/maps/api/js?sensor=false&libraries=places"}
    %script{src: "//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js", type: "text/javascript"}

    = csrf_meta_tag


  %body
    = render 'layouts/header'
    = toastr_flash

    .row
      // sidebar
      .large-3.columns
        .panel
          - if current_user.avatar.present?
            = cl_image_tag(current_user.avatar.path, width: 100, height: 120)
          - else
            = image_tag current_user.gravatar_url
          %h5
            %a{href: "#"} Joe User
          .section-container.vertical-nav{"data-options" => "deep_linking: false; one_up: true", "data-section" => ""}
            %section.section
              %h5.title
                %a{href: "#"} Dashboard
            %section.section
              %h5.title
                %a{href: "#"} My Observations
            %section.section
              %h5.title
                = link_to 'My Posts', posts_path
            %section.section
              %h5.title
                = link_to 'My Profile', user_path(current_user) 
            %section.section
              %h5.title
                %a{href: "#"} Following
            %section.section
              %h5.title
                = link_to 'Chat', chat_path, data: { :'no-turbolink' => '' }

      .large-9.columns
        = yield

    = render 'layouts/footer'

